body {
  margin: 0;
  background-color: DodgerBlue;
}

/* Bingo Board */
.flex-container {
  display: flex;
  gap: 2px;
  margin-top: 2px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    background-color: #f1f1f1;
    text-align: center;
  }
}