body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #fff566, #69b1ff);
}

.restart-btn {
  padding: 8px 12px;
  font-family: monospace;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px dashed;
  background-color: transparent;
  font-weight: bold;
  border: 2px dashed;
  font-size: 20px;

  &:hover {
    animation: magnify 1s ease-in-out infinite;
  }
}

/* Bingo Board */
.flex-container {
  display: flex;
  gap: 6px;
  margin-top: 6px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  .center-cell {
    background-color: transparent;
    border-radius: 100%;
    border: 2px dashed;

    button {
      border-radius: 100%;
      background-color: transparent;
      font-weight: bold;
      font-size: 20px;
    }
  }
  
  div {
    text-align: center;
    padding: 6px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    background-color: #fafafa;
    border-radius: 5px;

    button {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: none;
      padding: 6px;
      border-radius: 5px;
      font-family: monospace;
    }

    .cell-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .cell-number {
      color: #4096ff;
    }

    .unselected {
      &:hover {
        animation-name: example;
        animation-duration: 1s;
        font-weight: bolder;
      }
    }
    .selected {
      background-color: palegoldenrod;
      text-decoration: line-through;
      color:gray;

      .cell-number {
        color: gray;
      }

      &:hover {
        background-color: palegoldenrod;
      }
    }
    
  }
}

@keyframes magnify {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/* Responsive */
/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .restart-btn {
    font-size: 12px;
    &:hover {
      animation: none;
    }
  }
  .flex-container {
    .center-cell {
      button {
        font-size: 12px;
      }
    }

    div {
      padding: 6px;
      width: 100px;
      height: 100px;
    }
  }
}

/* For Mobile View */
@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .restart-btn {
    font-size: 12px;
    border: 1px dashed;
    &:hover {
      animation: none;
    }
  }
  .flex-container {
    gap: 4px;
    margin-top: 4px;
  
    .center-cell {
      border: 1px dashed;
  
      button {
        font-size: 12px;
      }
    }
    
    div {
      padding: 2px;
      width: 70px;
      height: 70px;
      border-radius: 4px;
  
      button {
        padding: 2px;
        border-radius: 4px;
      }
  
      .cell-text {
        font-size: 10px;
      }
  
      .cell-number {
        font-size: 10px;
      }
    }
  }
}

/* For Small Mobile View */
@media screen and (max-device-width: 480px) {
  .restart-btn {
    font-size: 7.5px;
    border: 1px dashed;
    &:hover {
      animation: none;
    }
  }

  .flex-container {
    gap: 4px;
    margin-top: 4px;
  
    .center-cell {
      border: 1px dashed;
    }
    
    div {
      padding: 2px;
      width: 54px;
      height: 54px;
      border-radius: 4px;
  
      button {
        padding: 1px;
        border-radius: 4px;
      }
  
      .cell-text {
        font-size: 7.5px;
      }
  
      .cell-number {
        font-size: 7.5px;
      }
    }
  }
}